
ul{
    padding-left: 0px;
    list-style-type:none;
    text-align: left;
}

footer{
    background-color: #282c34;
    color: white;
}
.controlers{
        text-align: right;

}
a{
    padding-right: 10px;
}
.logout{

    text-align: left !important;
    color: white;
}
